/* Universal Styling */
/* Background 	rgb(211,211,211)*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Ensure padding and border are included in element's total width and height */
    font-family: Montserrat;
}

body {
    background-color: 	rgb(242, 240,244);
}

/* Banner Styling */
.banner {
    background-color: rgb(68 54 79);
    padding: 5px;
    width: 100%;
    height: 10vh;
    justify-self: center;
    margin-bottom: 10px;
}

/* Banner Title Styling */
.banner-title {
    color: rgb(175 160 190);
    font-size: 50px;
    flex: 1;
    text-align: center;
}

/*css for two column split*/
.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content Styling */
#content {
    width: 100%;
    padding: 20px;
    text-align: center;
    color: rgb(34 26 41);
    background-color:rgb(175 160 190);
    margin: 60px auto;
    /* Increased margin to push content further down */
}

/* Control panle content */
.control-panel-content {
     width: 100%;
    padding: 20px;
    text-align: center;
    color: rgb(34 26 41);
    background-color:rgb(175 160 190);
    margin: 60px auto;
    /* Increased margin to push content further down */
}

/* About page styling*/
.about-content {
     width: 100%;
    padding: 20px;
    text-align: center;
    color: rgb(34 26 41);
    background-color:rgb(175 160 190);
    margin: 60px auto;
    /* Increased margin to push content further down */
}

/* contact us styling*/
.contact-us-content {
     width: 100%;
    padding: 20px;
    text-align: center;
    color: rgb(34 26 41);
    background-color:rgb(175 160 190);
    margin: 60px auto;
    /* Increased margin to push content further down */
}




/* Carousel Styling */
.carousel {
    position: relative;
    height: 320px;
    width: 40%;
    margin: 40px auto;
}

.carousel__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel__track-container {
    background: rgb(175 160 190);
     height: 98.4%;
    position: relative;
    overflow: hidden;
}

.carousel__track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
}

.carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
}

.carousel__button--left {
    left: -40px;
}

.carousel__button--right {
    right: -40px;
}

.carousel__nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.carousel__indicator {
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: 221A29;
    margin: 0 12px;
}

.carousel__indicator.current-slide {
    background: rgb(242 240 244);
}

/* Introduction Section Styling */
.introduction {
    margin: 20px auto;
}

.introduction h2 {
    font-size: 32px;
}

/* Footer Styling */
.footer {
    background-color: rgb(175 160 190);
    /* Same background color as the rest of the site for consistency */
    color: rgb(34 26 41);
    padding: 20px;
    /* Top and bottom padding for spacing */
    text-align: center;
    border-top: 1px solid #ddd;
    /* Light border for separation */
    position: relative;
    /* Positioned relative to allow for absolute positioning of the button */
    bottom: 0;
    width: 100%;
}

.footer .container {
    max-width: 1000px;
    /* Max width to align content */
    margin: 0 auto;
    /* Center align container */
    padding: 0 20px;
    /* Padding for inner spacing */
}

.footer p {
    margin: 0;
    /* Remove default margin */
    font-size: 16px;
    /* Font size for readability */
}
