/* Universal Styling */
/* Background 	rgb(211,211,211)*/


@font-face {
    font-family: contentFont;
    src: url(Montserrat-VariableFont_wght.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Ensure padding and border are included in element's total width and height */
    font-family: contentFont;
}

body {
    background-color: rgb(242, 240, 244);
}

/* Banner Styling */
.banner {
    background-color: rgb(68 54 79);
    width: 100%;
    height: 13vh;
    justify-self: center;
    margin-bottom: px;
}

/* Banner Title Styling */
.banner-title {
    color: rgb(175 160 190);
    font-size: 50px;
    flex: 1;
    text-align: center;
    font-family: contentFont;

}

/*css for two column split*/
.column {
    float: left;
    width: 50%;
}

.form-button {
    background: rgb(34 26 41);
    color: rgb(175 160 190);

}

.form-button:hover {
    background: rgb(175 160 190);
    color: rgb(34 26 41);
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content Styling */
#content {
    width: 100%;
    padding: 20px;
    text-align: center;
    color: rgb(34 26 41);
    background-color: rgb(175 160 190);
    margin: 60px auto;
    font-family: contentFont;
    /* Increased margin to push content further down */
}

/* Control panle content */
.control-panel-content {
    width: 100%;
    padding: 20px;
    text-align: center;
    color: rgb(34 26 41);
    background-color: rgb(175 160 190);
    margin: 60px auto;
    font-family: contentFont;
    /* Increased margin to push content further down */
}

/* About page styling*/
.about-content {
    width: 100%;
    padding: 20px;
    text-align: center;
    color: rgb(34 26 41);
    background-color: rgb(175 160 190);
    margin: 60px auto;
    font-family: contentFont;
    /* Increased margin to push content further down */
}

/* contact us styling*/
.contact-us-content {
    width: 100%;
    padding: 20px;
    text-align: center;
    color: rgb(34 26 41);
    background-color: rgb(175 160 190);
    margin: 60px auto;
    font-family: contentFont;
    /* Increased margin to push content further down */
}

.controller {
    width: 650px;
    margin: 40px auto;
    padding: 25px;
    background: rgb(68 54 79);
    border-radius: 20px;
    font-family: contentFont;
}

button {
    border: none;
    cursor: pointer;
    padding: 10px 16px;
    font-weight: bold;
    border-radius: 7px;
    text-transform: uppercase;
}

/* COLORS */
.dark {
    background: rgb(34 26 41);
    color: rgb(175 160 190);
}

.light {
    background: rgb(142 120 161);
    color: rgb(34 26 41);
}

.dark:hover {
    background: rgb(175 160 190);
    color: rgb(34 26 41);
}

.light:hover {
    background: rgb(34 26 41);
    color: rgb(142 120 161);
}


/* TOP BUTTON ROW */
.top-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* MIDDLE 4-COLUMN LAYOUT */
.middle-row {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

/* HAND BUTTON COLUMNS */
.hand-left,
.hand-right {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-right: 5px;
    font-family: contentFont;
}

/* WAVE COLUMN */
.wave-col {
    display: flex;
    flex-direction: column;
    gap: 12px;
    
}

.dpad-containter {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.dpad {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;

}

.middle-arrows {
    display: flex;
    gap: 14px;
}

.dpad-waves {
    display: flex;
    flex-direction: row;
    gap: 14px;
    margin-top: 10px;

}

.circle {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: contentFont;
}

.columns {
    display: flex;
    gap: 20px;
    width: 100%;
}

.body-language-container {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: rgb(175 160 190);
    color: rgb(34 26 41);
    float: left;
    width: 50%;
    font-family: contentFont;
}

.gesture-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: rgb(175 160 190);
    color: rgb(34 26 41);
    width: 50%;
    float: right;
    font-family: contentFont;
}

.ACPTitle {
    background: rgb(34 26 41);
    color: rgb(175 160 190);
    text-align: center;
    font-size: 30px;
    border-radius: 10px;
    font-family: contentFont;
}

.RB {
    text-align: center;
    font-size: 30px;
    border-radius: 10px;
    background: rgb(34 26 41);
    color: rgb(175 160 190);
    margin-bottom: 10px;
    margin-top: 10px;
    justify-self: center;
    font-family: contentFont;
}

.RB:hover{
    background: rgb(175 160 190);
    color: rgb(34 26 41);
}

.body {
    width: 100%;
    text-align: center;
    color: rgb(34 26 41);
    background-color: rgb(175 160 190);
    font-family: contentFont;
    
}
   
