/* Universal Styling */
/* Background   rgb(211,211,211)*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Ensure padding and border are included in element's total width and height */
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color:   rgb(211,211,211);
}

/* Banner Styling */
.banner {
    padding: 5px;
    width: 96.75%;
    height: 10vh;
    justify-self: center;
    margin-bottom: 10px;
}

/* Banner Title Styling */
.banner-title {
    color: white;
    font-size: 50px;
    flex: 1;
    text-align: center;
}

/* Registration Banner Styling */
.registration-banner {
    padding: 50px;
    width: 96.75%;
    height: 10vh;
    align-self: center;
    margin-bottom: 5px;
}

/* Registration Banner Title Styling */
.registration-banner-title {
    color: white;
    font-size: 50px;
    flex: 1;
    text-align: center;
}

/* Navigation Bar Styling */
.navbar {
    width: 100%;
    margin: auto;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:   rgb(211,211,211);
    border-radius: 15px;
    border: solid white;
}

.navbar .logo {
    height: 50px;
    margin-left: 20px;
    padding: 5px;
    border-radius: 15px;
}

.navbar ul {
    display: flex;
    align-items: center;
    margin-left: auto;
}

/* Navigation Links Styling */
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    padding-bottom: 25px;
}

/* Navigation Link Hover Effect */
.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #ffffff;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

/* Content Styling */
.content {
    width: 100%;
    padding: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
    border-radius: 15px;
    background-color:   rgb(211,211,211);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 60px auto;
    /* Increased margin to push content further down */
    border: solid white;
}





/* Carousel Styling */
.carousel {
    position: relative;
    height: 320px;
    width: 40%;
    margin: 40px auto;
}

.carousel__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel__track-container {
    background: white;
    height: 98.4%;
    position: relative;
    overflow: hidden;
}

.carousel__track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
}

.carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
}

.carousel__button--left {
    left: -40px;
}

.carousel__button--right {
    right: -40px;
}

.carousel__nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.carousel__indicator {
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: white;
    margin: 0 12px;
}

.carousel__indicator.current-slide {
    background: grey;
}


/* Footer Styling */
.footer {
    background-color:   rgb(211,211,211);
    /* Same background color as the rest of the site for consistency */
    color: white;
    padding: 20px;
    /* Top and bottom padding for spacing */
    text-align: center;
    border-top: 1px solid #ddd;
    /* Light border for separation */
    position: relative;
    /* Positioned relative to allow for absolute positioning of the button */
    bottom: 0;
    width: 100%;
}

.footer .container {
    max-width: 1000px;
    /* Max width to align content */
    margin: 0 auto;
    /* Center align container */
    padding: 0 20px;
    /* Padding for inner spacing */
}

.footer p {
    margin: 0;
    /* Remove default margin */
    font-size: 16px;
    /* Font size for readability */
}

button {
            padding: 15px 30px;
            font-size: 16px;
            background-color: #afa0be;
            color: #221A29;
            border: none;
            border-radius: 8px;
            cursor: pointer;
}

button:hover {
            background-color: white;
}




/* Tablet designs */

/* Tablet Banner Title Styling */
.tablet-banner-title {
    color: white;
    font-size: 50px;
    flex: 1;
    text-align: left;
    margin-top: 3%;
}

/* Banner Styling */
.tablet-banner {
    padding: 8px;
    width: 100%;
    height: 25vh;
    justify-self: center;
    background-color: #44364F;
    overflow: hidden;
}

.tablet-banner-left {
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin: 10px;
    margin-left: 4%;
    width: 30%;
    height: fit-content;
    float: left;
}

.tablet-banner-right {
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin: 10px;
    width: 58%;
    height: fit-content;
    float: right;
}

.tablet-logo {
    width: 20%;
    margin-left: 30%;
    margin-top: 2%;
    margin-bottom: 2%;
    justify-self: center;
}

/* Tablet Navigation Bar Styling */
.tablet-navbar {
    width: 100%;
    height: 10vh;
    margin: auto;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #221A29;
    overflow:hidden;
}

.tablet-navbar ul {
    display: flex;
    align-items: center;
    width: 35%;
}

/* Tablet Navigation Links Styling */
.tablet-navbar ul li {
    list-style: none;
    display: inline-block;
    margin-left: 33%;
    margin-right: 33%;
    position: relative;
}

.tablet-navbar ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    padding-bottom: 25px;
    font-size: 1.7em;
}

/* Tablet content */

.tablet-content {
    width: 90%;
    height: 45vh;
    padding: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
    border-radius: 15px;
    background-color:   rgb(211,211,211);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 60px;
    border: solid white;
}

.tablet-left-col {
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin: 10px;
    width: 35%;
    height:fit-content;
    float: left;
}

.tablet-right-col {
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin: 10px;
    width: 55%;
    height:fit-content;
    float: right;
}

.tablet-image-shrink {
    width: 50%;
    margin-left: 30%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.tablet-about-title {
    color: #221A29;
    font-size: 1.7em;
}

.tablet-about-text {
    color: #221A29;
    font-size: 1.3em;
    text-align: center;
    margin-top: 5%;
}


/* Tablet Controls */

.tablet-controls-container {
    width: 90%;
    height: 55vh;
    padding: 20px;
    margin: 30px;
    justify-self: center;
    background-color: #221A29;
}

.tablet-controls-top {
    width: 90%;
    height: 50%;
    justify-self: center;
    background-color: aqua;
}

.tablet-controls-bottom {
    width: 90%;
    height: 50%;
    justify-self: center;
    background-color: chocolate;
}